@import "/styles/variables";

.button-container{
display: flex;
align-items: center;
justify-content: center;

 width: 10rem;
 height: 100vh;
}

.contact-button{
    transform: rotate(270deg);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    color: $home-page-main-text-colour;
}