@import "/styles/variables";
@import "/styles/mixins";

.content-container {
  width: 15rem;
  height: 80%;

  border-radius: 15rem;
  margin: 0 0 0 2.5rem;

  // border: solid red 3px;

  background-color: black;
  cursor: pointer;
}

// ? Breakpoints

@include small-tablet {
  .content-container {
    width: 30rem;

    margin: 0 0 0 3rem;
  }
}

@include large-tablet {
  .content-container {
    width: 30rem;

    margin: 0 2.5rem 0 2.5rem;
  }
}
