@import "/styles/variables";

.background {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background-color: $bg-black;
  //   background-image: -webkit-linear-gradient(
  //     -40deg,
  //     $bg-black 50%,
  //     $bg-grey 50.1%
  //   );
}

.enter-components-container {
  display: flex;
  justify-content: center;

  width: 80vw;
}
