@import "/styles/variables";
@import "/styles/mixins";

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 80%;
  border-radius: 15rem;
  margin: 0 1.5rem 0 1.5rem;
  background-color: $black;
  cursor: pointer;

  @keyframes color {
    0% {
      background: $black;
    }
    20% {
      background: $indigo;
    }
    40% {
      background: $jam;
    }
    60% {
      background: $jade;
    }
    80% {
      background: $indigo;
    }
    100% {
      background: $black;
    }
  }

  animation: color 9s infinite linear;
}

.site-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
  color: $pale-grey;
  font-family: $montserrat-medium;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 4rem;
}

#web::before {
  content: "web";
}

#art::before {
  content: "art";
}

#web-bg:active {
  animation: none;
  opacity: 0.8;
  background-image: url("/static/web-bg.png");
  #web::before {
    color: $jam;
    content: "enter";
  }
  .site-name {
    padding-bottom: 0;
  }
  .enter-heading {
    display: none;
  }
}

@media (hover: hover) {
  #web-bg:hover {
    animation: none;
    opacity: 0.8;
    background-image: url("/static/web-bg.png");
    #web::before {
      color: $jam;
      content: "enter";
    }
    .site-name {
      padding-bottom: 0;
    }
    .enter-heading {
      display: none;
    }
  }
}

#art-bg:active {
  animation: none;
  opacity: 0.8;
  background: url("/static/art-bg.png");
  #art::before {
    color: $jam;
    content: "enter";
  }
  .site-name {
    padding-bottom: 0;
  }
  .enter-heading {
    display: none;
  }
}

@media (hover: hover) {
  #art-bg:hover {
    animation: none;
    opacity: 0.8;
    background: url("/static/art-bg.png");
    #art::before {
      color: $jam;
      content: "enter";
    }
    .site-name {
      padding-bottom: 0;
    }
    .enter-heading {
      display: none;
    }
  }
}

.enter-heading {
  color: $pale-grey;
  font-family: $montserrat-light;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}

// ? Breakpoints

@include extra-small-devices {
  .site-name {
    font-size: 3rem;
  }

  .enter-heading {
    font-size: 1.2rem;
  }
}

@include small-tablet {
  .content-container {
    width: 30rem;
    margin: 0 0 0 3rem;
  }

  .site-name {
    font-size: 5rem;
    padding-bottom: 3.5rem;
  }

  .enter-heading {
    font-size: 2rem;
  }
}

@include large-tablet {
  .content-container {
    width: 30rem;
    margin: 0 2.5rem 0 2.5rem;
  }

  .site-name {
    font-size: 6rem;
  }

  .enter-heading {
    font-size: 2rem;
  }
}

@include small-laptop {
  .site-name {
    font-size: 7rem;
    padding-bottom: 10rem;
  }
}

// ! Todo: test when I'm on my macbook
@include desktop {
  .site-name {
    font-size: 8rem;
  }
}
