@import "/styles/variables";
@import "/styles/mixins";

.contact-form-page-container {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $contact-form-bg;
  backdrop-filter: blur(5px);

  z-index: 5000;

  color: $contact-form-text-colour;
}

.contact-modal {
  width: 80%;
  height: auto;

  padding: 9rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $contact-form-modal-bg;
  border-radius: 15rem;

  position: relative;

  //   z-index: 6000;
}

.contact-modal * {
  font-family: $contact-form-font;
}

.close-button {
  position: absolute;
  top: 10%;

  font-family: $contact-form-font;
  color: $contact-form-text-colour;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
  text-underline-offset: 0.5rem;

  cursor: pointer;
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.label-input-containers {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  width: 20rem;
}

.labels {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}

.input,
.text-area {
  font-size: 1.5rem;
  font-family: $contact-form-input-font;
}

.text-area {
  height: 9rem;
  resize: none;
}

.submit-button {
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin-left: 1rem;
}
