@import "/styles/variables";
@import "/styles/mixins";

.contact-form-page-container {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $contact-form-bg;
  backdrop-filter: blur(5px);

  z-index: 5000;

  color: $contact-form-text-colour;
}

.contact-modal {
  width: 80%;
  height: auto;

  padding: 9rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $contact-form-modal-bg;
  border-radius: 15rem;

  position: relative;

  //   z-index: 6000;
}

.contact-modal * {
  font-family: $contact-form-font;
}

.close-button {
  position: absolute;
  top: 10%;

  font-family: $contact-form-font;
  color: $contact-form-text-colour;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
  text-underline-offset: 0.5rem;

  cursor: pointer;
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.label-input-containers {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  width: 20rem;
}

.labels {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.input,
.text-area {
  font-size: 1.5rem;
  font-family: $contact-form-input-font;
  letter-spacing: 0.1rem;

  background: transparent;
  border-bottom: 0.1rem solid $contact-form-text-colour;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: $contact-form-text-colour;
}

// .input:focus,
// .text-area:focus {
//   border-bottom: 0.2rem solid $contact-form-focus-colour;
// }

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active,
.text-area:-webkit-autofill,
.text-area:-webkit-autofill:hover,
.text-area:-webkit-autofill:focus,
.text-area:-webkit-autofill:active {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.input[data-autocompleted],
.text-area[data-autocompleted] {
  background-color: transparent !important;
}

.text-area {
  height: 14.8rem;
  resize: none;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit-button {
  margin: 3rem 0 0 0;
  padding: 0.2rem 1rem 0.2rem 1rem;

  // align-self: baseline;
  // justify-self: flex-end;
}

.label-input-containers {
  &:focus-within {
    .labels {
      color: lighten($contact-form-focus-colour, 3%);
      font-size: 1.7rem;
    }

    .input,
    .text-area {
      border-bottom: 0.2rem solid lighten($contact-form-focus-colour, 3%);
    }
  }
}
