@import "/styles/variables";
@import "/styles/mixins";

.contact-form-page-container {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $contact-form-bg;
  backdrop-filter: blur(5px);

  z-index: 5000;

  color: $contact-form-text-colour;
}

.contact-modal {
  width: 80%;
  height: auto;

  padding: 9rem 9rem 7rem 9rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $contact-form-modal-bg;
  border-radius: 15rem;

  position: relative;

  //   z-index: 6000;
}

.contact-modal * {
  font-family: $contact-form-font;
}

.close-button {
  position: absolute;
  top: 10%;
  font-size: 1.5rem;
}

.close-button,
.clear-button {
  font-family: $contact-form-font;
  color: $contact-form-text-colour;
  letter-spacing: 0.1rem;
  background: none;
  border: none;
  outline: none;

  cursor: pointer;

  &:active {
    color: $contact-form-focus-colour;
  }
}

@media (hover: hover) {
  .close-button:hover,
  .clear-button:hover {
    color: $contact-form-focus-colour;
    transform: scale(1.1);
  }
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3rem 0 0 0;
}

.label-input-containers {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  width: 20rem;
}

.labels {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.input,
.text-area {
  font-size: 1.5rem;
  font-family: $contact-form-input-font;
  letter-spacing: 0.1rem;

  background: transparent;
  border-bottom: 0.1rem solid $contact-form-text-colour;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: $contact-form-text-colour;

  // Stops input from rounding
  border-radius: 0;
  box-shadow: 0;
  -webkit-appearance: none;

  padding-bottom: 0.5rem;
}

.label-input-containers {
  &:focus-within {
    .labels {
      color: lighten($contact-form-focus-colour, 3%);
      font-size: 1.7rem;
    }

    .input,
    .text-area {
      border-bottom: 0.2rem solid lighten($contact-form-focus-colour, 3%);
    }
  }
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active,
.text-area:-webkit-autofill,
.text-area:-webkit-autofill:hover,
.text-area:-webkit-autofill:focus,
.text-area:-webkit-autofill:active {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.input[data-autocompleted],
.text-area[data-autocompleted] {
  background-color: transparent !important;
}

.text-area {
  height: 14.8rem;
  resize: none;
}

.error-message {
  color: $error-message-text;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  padding-bottom: 1rem;
}

.button-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
}

.submit-button,
.clear-button {
  margin: 4rem 1rem 0 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
}

.clear-button {
  font-size: 1.2rem;
}

.submit-button {
  border: none;
  outline: none;
  font-size: 1.8rem;
  color: $jade;
  background-color: $contact-form-text-colour;
  cursor: pointer;
}
