@import "/styles/variables";
@import "/styles/mixins";

.about-section-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  
  width: 80%;
  height: auto;
  color: $main-font-colour;

  margin-top: 5rem;

  h2 {
    font-family: $home-heading-font;
    font-size: 4rem;
    text-align: center;
    padding: 4rem 0 3rem 0;
  }

  p {
    font-family: $montserrat-light;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 0 2rem 0;
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
  }
}

.image-container {
  margin: 5.5rem 0 0 0;
}

.image {
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

@include large-tablet {
  .image-container {
    width: 50%;
    background-color: red;
  }

  .text-container {
    width: 50%;
    background-color: aqua;
  }
}
