@import "/styles/variables";
@import "/styles/mixins";

.about-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  color: $main-font-colour;
  padding: 5rem 0 2rem 0;

  h2 {
    @include web-headings;
  }

  p {
    font-family: $main-text-font;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 0 2rem 0;
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0 0;
  max-width: 40rem;
}

.image {
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

.hashlinks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  h2 {
    @include web-headings;
  }
}

@include extra-small-devices {
  .text-container {
    p {
      padding: 0 2rem 0 2rem;
    }
  }
}

@include small-tablet {
  .image-container {
    margin: 4.5rem 0 0 0;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }
}

@include large-tablet {
  .hashlinks-container {
    flex-direction: row;
    width: 80%;
    max-width: 80rem;
    justify-content: space-around;
    margin-top: 3rem;
  }
}

@include small-laptop {
  .content-container {
    max-width: 90rem;
  }
}

@include desktop {
  .content-container {
    flex-direction: row;
    justify-content: space-around;
    max-width: 120rem;
  }

  .text-container {
    width: 70%;
    max-width: 60rem;
    margin-left: 5rem;
    height: 100%;
    padding-top: 5rem;
  }

  .image {
    width: 20%;
  }
}

// @include desktop {
//   .content-container {
//     padding: 8rem 0 8rem 0;
//   }
// }
