@import "/styles/variables";
@import "/styles/mixins";

.about-section-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: auto;
  color: $main-font-colour;

  margin-top: 5rem;

  h2 {
    font-family: $home-heading-font;
    font-size: 4rem;
    text-align: center;
    padding: 4rem 0 3rem 0;
  }

  p {
    font-family: $montserrat-light;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 0 2rem 0;
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0 0;
  max-width: 40rem;
}

.image {
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

@include small-tablet {
  .image-container{
    margin: 4.5rem 0 0 0 ;
  }

  .text-container{
    padding-top: 1rem;
  }
}

@include large-tablet {
  .text-container {
    max-width: 70rem;
  }
}

@include small-laptop{
  .image-container{
    max-width: 35rem;
  }
}

@include desktop {
  .content-container {
    flex-direction: row;
  }
}
