@import "/styles/variables";
@import "/styles/mixins";

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 6rem;
  width: 100vw;

  background-color: $mobile-nav-bg;
}

.hamburger-container {
  color: $web-view-hamburger-colour;
  cursor: pointer;
}

.nav-dropdown-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  margin-top: 6rem;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  background-color: $mobile-nav-bg;
}

.nav-list {
  list-style: none;
  text-align: right;
  padding: 1rem 2rem 2rem 0;
  width: auto;

  li {
    padding: 1rem 0 1rem 0;
    color: $navbar-text-colour;
    font-family: $mobile-nav-font;
    font-size: 1.5rem;
    cursor: pointer;

    &:active {
      color: $mobile-nav-hover-colour;
      font-family: $jakarta-font-bold-italic;
    }
  }
}

@media (hover: hover) {
  .nav-list > li:hover {
    color: $mobile-nav-hover-colour;
    font-family: $jakarta-font-bold-italic;
  }
}

@include large-tablet {
  .nav-container {
    display: none;
  }
}
