@import "/styles/variables";
@import "/styles/mixins";

// Set to display none until large-tablet breakpoint kicks in
.nav-container {
  display: none;
  position: fixed;
  z-index: 100;
  transform-origin: top;
}

.nav-list {
  display: flex;
  list-style: none;
  width: auto;
  padding: 0 3rem 0 0;

  li {
    margin: 0 0 0 3rem;
    color: $web-navbar-text-colour;
    font-family: $nav-font;
    font-size: 1.8rem;
    cursor: pointer;

    &:active {
      color: $web-nav-hover-colour;
      font-family: $nav-hover-font;
    }
  }
}

@media (hover: hover) {
  .nav-list > li:hover {
    color: $web-nav-hover-colour;
    font-family: $nav-hover-font;
  }
}

@include large-tablet {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100vw;
    background-color: $web-nav-bg;
  }
}

@include desktop {
  .nav-container {
    padding: 0 3rem 0 0;
    overflow: hidden;
  }

  .nav-list > li {
    font-size: 1.8rem;
  }
}
