// Jakarta

@font-face {
  font-family: "Plus Jakarta Sans Bold";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Sans Bold"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Bold.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Bold.woff")
      format("woff");
}

@font-face {
  font-family: "Plus Jakarta Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Sans Bold Italic"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-BoldItalic.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-BoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Plus Jakarta Sans Extra Bold";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Sans Extra Bold"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-ExtraBold.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-ExtraBold.woff")
      format("woff");
}

@font-face {
  font-family: "Plus Jakarta Sans Extra Bold Italic";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Sans Extra Bold Italic"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-ExtraBoldItalic.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-ExtraBoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Plus Jakarta Sans Extra Light";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Sans Extra Light"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-ExtraLight.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-ExtraLight.woff")
      format("woff");
}

@font-face {
  font-family: "Plus Jakarta Sans Extra Light Italic";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Sans Extra Light Italic"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-ExtraLightItalic.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-ExtraLightItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Plus Jakarta Italic";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Italic"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Italic.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Italic.woff")
      format("woff");
}

@font-face {
  font-family: "Plus Jakarta Light";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Light"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Light.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Light.woff")
      format("woff");
}

@font-face {
  font-family: "Plus Jakarta Light Italic";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Light Italic"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-LightItalic.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-LightItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Plus Jakarta Medium";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Medium"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Medium.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Medium.woff")
      format("woff");
}

@font-face {
  font-family: "Plus Jakarta Medium Italic";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Medium Italic"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-MediumItalic.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-MediumItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Plus Jakarta Regular";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Regular"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Regular.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-Regular.woff")
      format("woff");
}

@font-face {
  font-family: "Plus Jakarta Semi Bold";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Semi Bold"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-SemiBold.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-SemiBold.woff")
      format("woff");
}

@font-face {
  font-family: "Plus Jakarta Semi Bold Italic";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: local("Plus Jakarta Semi Bold Italic"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-SemiBoldItalic.woff")
      format("woff2"),
    url("./Fonts/PlusJakartaSans-2.6/webfonts/PlusJakartaSans-SemiBoldItalic.woff")
      format("woff");
}
