@import "/styles/variables";
@import "/styles/mixins";

.content-container {
  width: 15rem;
  height: 80%;

  border-radius: 15rem;
  margin: 0 1.5rem 0 1.5rem;
  background-color: $black;
  cursor: pointer;

  @keyframes color {
    0% {
      background: $black;
    }
    20% {
      background: $indigo;
    }
    40% {
      background: $jam;
    }
    60% {
      background: $jade;
    }
    80% {
      background: $indigo;
    }
    100% {
      background: $black;
    }
  }

  animation: color 9s infinite linear;
}
#web-bg:active {
  animation: none;
  opacity: 0.8;
  background-image: url("./static/web-bg-2.png");
  #web::before {
    animation: none;
    color: $jam;
    content: "enter";
  }
}

@media (hover: hover) {
  #web-bg:hover {
    animation: none;
    opacity: 0.8;
    background-image: url("./static/web-bg-2.png");
    #web::before {
      animation: none;
      color: $jam;
      content: "enter";
    }
  }
}

#art-bg:active {
  animation: none;
  opacity: 0.8;
  background: url("./static/art-bg.png");
  #art::before {
    animation: none;
    color: $jam;
    content: "enter";
  }
}

@media (hover: hover) {
  #art-bg:hover {
    animation: none;
    opacity: 0.8;
    background: url("./static/art-bg.png");
    #art::before {
      animation: none;
      color: $jam;
      content: "enter";
    }
  }
}

.site-name {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $pale-grey;
  font-family: $montserrat-medium;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 4rem;
}

#web::before {
  content: "web";
  animation: animate-web infinite 3s;
}

#web {
  @keyframes animate-web {
    0% {
      content: "web";
    }

    50% {
      content: "enter";
    }

    100% {
      content: "web";
    }
  }
}

#art::before {
  content: "art";
  animation: animate-art infinite 3s;
}

#art {
  @keyframes animate-art {
    0% {
      content: "art";
    }

    50% {
      content: "enter";
    }

    100% {
      content: "art";
    }
  }
}

// ? Breakpoints

@include extra-small-devices {
  .site-name {
    font-size: 3rem;
  }
}

@include small-tablet {
  .content-container {
    width: 30rem;
    margin: 0 0 0 3rem;
  }
}

@include large-tablet {
  .content-container {
    width: 30rem;
    margin: 0 2.5rem 0 2.5rem;
  }

  .site-name {
    font-size: 6rem;
  }
}

@include small-laptop {
  .site-name {
    font-size: 7rem;
  }
}

// ! Todo: test when I'm on my macbook
@include desktop {
  .site-name {
    font-size: 8rem;
  }
}
