@import "/styles/variables";
@import "/styles/mixins";

.background {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background: $home-bg;
}

.landing-page-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.intro-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3rem 3rem 0 3rem;

  width: 85vw;

  height: 45vh;
}

.name-heading {
  color: $home-page-main-text-colour;
  font-family: $name-heading-font;

  font-style: italic;

  letter-spacing: 0.1rem;
  font-size: 2.2rem !important;

  padding: 1.5rem 0 0 0;
  text-transform: lowercase;
}

.intro-text {
  color: $home-page-main-text-colour;
  font-size: 3.5em;
  letter-spacing: 0.15rem;
  font-family: $home-heading-font;
  max-width: 30rem;
}

.intro-text-low-index {
  display: none;
}

.enter-components-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 2rem 0 2rem;

  width: 80vw;
  height: 55vh;
}

// Breakpoints

@include extra-small-devices {
  .intro-text {
    font-size: 2rem;
  }

  .name-heading {
    font-size: 2rem !important;
  }
}

@include small-tablet {
  .name-heading {
    font-size: 2.8rem !important;
  }

  .intro-text {
    font-size: 4rem;
    // max-width: 40rem;
  }

  .intro-text-container {
    padding: 6rem 0 0 6rem;
    height: 40%;
  }

  .enter-components-container {
    height: 60%;
  }
}

@include large-tablet {
  .landing-page-content-container {
    flex-direction: row;
  }

  .intro-text-container {
    height: 100vh;
    width: 50%;
    align-items: center;

    padding: 0;
  }

  .name-heading {
    font-size: 3.2rem !important;
  }

  .intro-text {
    font-size: 4rem;
    max-width: 30rem;
  }

  .enter-components-container {
    height: 100vh;
    width: 50%;
    margin-right: 10rem;
  }
}

@include small-laptop {
  .intro-text {
    font-size: 6rem;
    max-width: 40rem;
  }
}

// Todo: Check on Macbook for larger screen sizes

@include desktop {
  .intro-text {
    font-size: 10rem;
    max-width: 70rem;
  }

  .name-heading {
    font-size: 4rem;
  }

  .name-heading {
    font-size: 4.8rem !important;
    padding-top: 3rem;
  }

  .enter-components-container {
    padding-right: 12rem;
  }
}
