@import "/styles/variables";
@import "/styles/mixins";

.home-link-container {
  font-family: $logo-font;
  font-size: 3rem;
  padding: 0 0 0 1.5rem;
  color: $logo-colour;
  cursor: pointer;

  &:active {
    font-weight: bold;
  }
}

@media (hover: hover) {
  .home-link-container:hover {
    font-weight: bold;
  }
}

@include large-tablet {
  .home-link-container {
    padding: 0 0 0 2rem;
    font-size: 3.5rem;
  }
}

@include desktop {
  .home-link-container {
    padding: 0 0 0 2.5rem;
    font-size: 4rem;
  }
}
