@import "/public/Fonts/fonts";

// Palette
$soft-black: #0d1117;
$black: black;
$pale-grey: #cececc;
$linen: #fffcf7;
$evergreen: #093a1c;
$indigo: #143464;
$light-blue: #408faa;
$pale-blue: #82b5c7;
$papaya: #e49435;
$jam: #b21071;
$jade: #099a4d;

$yellow: #fdd701;
$blue: #03034b;

// Fonts
// Headings
$jakarta-font-bold: Plus Jakarta Sans Bold, sans-serif;
$jakarta-font-bold-italic: Plus Jakarta Sans Bold Italic, sans-serif;
$jakarta-font-extra-bold: Plus Jakarta Sans Extra Bold, sans-serif;
$jakarta-font-extra-bold-italic: Plus Jakarta Sans Extra Bold Italic, sans-serif;
$jakarta-font-extra-light: Plus Jakarta Sans Extra Light, sans-serif;
$jakarta-font-extra-light-italic: Plus Jakarta Sans Extra Light Italic,
  sans-serif;
$jakarta-font-italic: Plus Jakarta Italic, sans-serif;
$jakarta-font-light: Plus Jakarta Light, sans-serif;
$jakarta-font-light-italic: Plus Jakarta Light Italic, sans-serif;
$jakarta-font-medium: Plus Jakarta Medium, sans-serif;
$jakarta-font-medium-italic: Plus Jakarta Medium Italic, sans-serif;
$jakarta-font-regular: Plus Jakarta Regular, sans-serif;
$jakarta-font-semi-bold: Plus Jakarta Semi Bold, sans-serif;
$jakarta-font-semi-bold-italic: Plus Jakarta Semi Bold Italic, sans-serif;

// Sub-headings
$barlow-bold: Barlow Bold, sans-serif;
$barlow-extra-bold: Barlow Extra Bold, sans-serif;
$barlow-medium: Barlow Medium, sans-serif;
$barlow-regular: Barlow Regular, sans-serif;
$barlow-semi-bold: Semi Bold, sans-serif;
$barlow-thin: Barlow Thin, sans-serif;
$barlow-light: Barlow Light, sans-serif;
$barlow-extra-light: Barlow Light, sans-serif;

// Regular text
$montserrat-black: Montserrat Black, sans-serif;
$montserrat-black-italic: Montserrat Black Italic, sans-serif;
$montserrat-bold: Montserrat Bold, sans-serif;
$montserrat-bold-italic: Montserrat Bold Italic, sans-serif;
$montserrat-extra-light: Montserrat Extra Light, sans-serif;
$montserrat-light: Montserrat Light, sans-serif;
$montserrat-medium: Montserrat Medium, sans-serif;
$montserrat-regular: Montserrat Regular, sans-serif;
$montserrat-semi-bold: Montserrat Semi Bold, sans-serif;
$montserrat-thin: Montserrat Thin, sans-serif;

// Nav
$jetbrains-regular: Jet Brains Mono Regular, sans-serif;
$jetbrains-bold-italic: Jet Brains Mono Bold Italic, sans-serif;



// ? Global Variables
$contact-form-modal-bg: $black;
$contact-form-bg: rgba(0, 0, 0, 0.8);
$contact-form-text-colour: $pale-grey;
$contact-form-font: $montserrat-semi-bold;
$contact-form-input-font: $montserrat-medium;
$contact-form-focus-colour: $pale-grey;
$error-message-text: $jam;
$main-font-colour: $blue;
$circle-button-font: $jakarta-font-regular;
$headings-font: $jakarta-font-extra-bold;
$main-text-font: $montserrat-light;
$paragraph-font-size: 1.8rem; 

// ?  Home Variables
$home-bg: $papaya;
$home-page-main-text-colour: lighten($pale-grey, 2%);
$home-side-bar-elements: lighten($pale-grey, 5%);
$home-heading-font: $jakarta-font-semi-bold;
$name-heading-font: $jakarta-font-extra-light;

// ? Side Bar Variables
$side-bar-contact-font: $jakarta-font-medium;
$side-bar-hover-colour: $jam;

// ? Logo variables
$logo-font: $jetbrains-regular;
$logo-font-italic: $jetbrains-bold-italic;
$logo-colour: $jam;

// ? Global Nav Variables
$nav-font: $jetbrains-regular;
$nav-hover-font: $jetbrains-bold-italic;

// ? Web View Nav Variables
$web-view-hamburger-colour: $jam;
$web-nav-bg: rgba(228, 148, 53, 0.8);
$web-navbar-text-colour: $jam;
$web-nav-hover-colour: lighten($pale-grey, 15%);
